{% extends "aliens/layout.html" %}

{% block body %}

    <h1>{ title }</h1>

    <h1>Can you Save the World</h1>

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    

{% endblock %}