{% extends "aliens/layout.html" %}

{% load static %}
{% block body %}
<div class="container my-5">

    <h1 class="text-center mb-4">Player Stats</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h5 class="card-title mb-3 text-center">Statistics</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Kills:</span>
                        <strong>{{ player_stats.total_kills }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Deaths:</span>
                        <strong>{{ player_stats.total_deaths }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Bullets Fired:</span>
                        <strong>{{ player_stats.total_bullets_fired }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Games:</span>
                        <strong>{{ player_stats.total_games }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Rank:</span>
                        <strong>{{ player_stats.current_position_leaderboard }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>K/D Ratio:</span>
                        <strong>{{ player_stats.kd_ratio }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'aliens/game.js' %}"></script>
{% endblock %}
